@charset "UTF-8";

body{
    background-color: rgb(141, 201, 52);
    font-family: sans-serif;
}
h1{
    color: blue;
}
h1#principal{
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h2{
    background-color: red;
    color: yellow;
}
.basico{
    background-color: springgreen;
    color: tomato;
}
.intermediario{
    background-color: blueviolet;
    color: red;
}
.avançado{
    background-color: aliceblue;
    color: aquamarine;
}